@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Nanum+Gothic+Coding&family=Poor+Story&display=swap');
* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

/* 전체 body에 대한 스타일링 */
body {
    font-family: Arial, sans-serif;
    font-size: 25px;
    line-height: 1.5;
    color: #333;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

/* 팀 이름 헤더에 대한 스타일링 */
.team-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 16px;
    width: 100%;
    height: 100px
}

.subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

/* 블로그 링크에 대한 스타일링 */
.myBlog a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.myBlog a:hover {
    color: blue;
    text-decoration: underline;
}

/* MBTI 투표에 대한 스타일링 */
.team-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mbti-vote {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 70px;
    font-size: 23px;
}

.mbti-vote button {
    width: 80px;
    height: 40px;
    padding: 10px;
    margin: 0 8px;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.mbti-vote button:hover {
    background-color: #42c96f;
    color: #fff;
}

.mbti-vote .mbti-btn {
    margin-top: 10px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    color: #fff;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mbti-vote .mbti-btn.selected {
    background-color: #000;
    color: #fff;
}

.mbti-vote .mbti-btn-left {
    position: absolute;
    left: 25%;
}

.mbti-vote .mbti-btn-right {
    position: absolute;
    right: 25%;
}

.mbti-vote .mbti-question {
    margin: 130px;
    font-size: 18px;
    padding: 0 10px;
}

.mbti-vote .mbti-question-left {
    position: absolute;
    left: 25%;
}

.mbti-vote .mbti-question-right {
    position: absolute;
    right: 25%;
}

.mbti-vote .mbti-divider {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    transform: translateX(-50%);
}

.submit #submit-button {
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 5%;
    border: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    margin: 10px;
    margin-top: 10px;
}

/* 슬라이드에 대한 스타일링 */
.team-desc {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 35px;
    text-decoration: none;
    width: auto;
    height: 150px;
    padding: 10px;
    margin-left: 20px;
}

.carousel {
    width: 60%;
    height: 350px;
    margin: auto;
    margin-top: 80px;
}

.carousel-inner {
    height: 450px;
}

.img-thumbnail {
    width: 350px;
    height: 350px;
    object-fit: cover;
    flex:0 0 auto;
    border-radius: 50%;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;

}

.myContent {
    flex: 1 1 auto;
    margin-left: 10px;
    font-size: 20px;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    padding: 10px;
    width: calc(40%);
    height: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.post-btn {
    width: 200px;
    height: 50px;

    background-color: transparent;
    color: white;

    border-radius: 50px;
    border: 1px solid white;

    margin-top: 10px;
}

.post-btn>button:hover {
    border: 2px solid white;
}

.submit {
    margin-top: 20px;
    
    
}

.team-mbti {
    margin-top: 50px;
    text-align: center;
}

.final-mbti{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    text-decoration:overline;
}